{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Website under development</h1>
    <hr>

    <a href="{% url '' %}">Home</a>
    <a href="{% url 'create-task' %}">Create task</a>
    <a href="{% url 'view-tasks' %}">View task</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'my-login' %}">Login</a>
    
    <hr>
    {% block content %}
    
    {% endblock  %}
    <script src="{% static "js/app.js" %}"></script>
    
</body>
</html>