{% extends "crm/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    
    <h3>Task</h3>

    <hr>

        {% for task in AllTask %}
            <br>
            {{task.id}}
            <br>
            {{task.title}}
            <br>
            {{task.description}}
            <br>
            {{task.created}}
    
        {% endfor %}

        <br>

    
    {% endblock %}
</body>
</html>